body {
    background-color: #333333;
    color: white;
    display: grid;
    grid-template-areas: "title board" "actions board" "footer board";
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 0fr 1fr 0fr;
    margin: 20px;
    align-items: center;
    font-family: 'Ubuntu', 'Calibri', sans-serif;
    gap: 20px;
}

@media screen and (orientation: portrait) {
    body {
	grid-template-areas: "title" "actions" "board" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: 0fr 0fr 0fr 0fr;
    }

    #board {
	height: auto !important;
	width: calc(100vw - 60px);
    }
}

#title {
    grid-area: title;
}

#actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer {
    grid-area: footer;
}

#board {
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
    aspect-ratio: 1;
    height: calc(100vh - 60px);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    grid-area: board;
}

#turn-controller {
    background: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: fit-content;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

#turn-controller p {
    margin: 0;
    text-align: center;
    align-self: center;
}

.tile {
    /*border: 1px solid white;*/
    aspect-ratio: 1;
    width: 100%;
}

.tile svg {
    width: 100%;
    display: block;
}

button, input {
    background: white;
    color: #333333;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    transition: background .2s ease-in-out;
}

input:disabled, button:disabled {
    cursor: not-allowed;
    color: #bbbbbb;
}

button {
    cursor: pointer;
}

fieldset {
    border-radius: 15px;
    width: fit-content;
}

button:hover {
    background: lightblue;
}
